.place__image {
  grid-area: image;
  width: 100%;
  display: block;
  object-fit: cover;
}

@media (max-width: 675px) {
  .place__image {
    max-height: 320px;
  }
}

@media (max-width: 351px) {
  .place__image {
    width: calc(100% + 16px * 2);
    justify-self: center;
  }
}
