.lead__title {
  max-width: 720px;
  margin: 0 auto 32px;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
  text-align: center;
}

@media (max-width: 725px) {
  .lead__title {
    max-width: 600px;
    font-size: 80px;
  }
}

@media (max-width: 625px) {
  .lead__title {
    max-width: 550px;
    font-size: 72px;
  }
}

@media (max-width: 575px) {
  .lead__title {
    max-width: 450px;
    font-size: 60px;
  }
}

@media (max-width: 475px) {
  .lead__title {
    max-width: 400px;
    font-size: 48px;
  }
}

@media (max-width: 400px) {
  .lead__title {
    max-width: 300px;
    margin: 0 auto 16px;
    font-size: 40px;
    line-height: 1.1;
  }
}
