.place {
  display: grid;
  grid-template-columns: minmax(380px, 460px) minmax(310px, 1fr);
  gap: 48px 40px;
  grid-template-areas:
    "title website"
    "image text";
  margin-bottom: 80px;
}

@media (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(330px, 440px) minmax(310px, 1fr);
    gap: 48px 32px;
  }
}

@media (max-width: 768px) {
  .place {
    grid-template-columns: minmax(320px, 340px) minmax(270px, 1fr);
    gap: 48px 28px;
    margin-bottom: 73px;
  }
}

@media (max-width: 675px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "website"
      "image"
      "text";
    gap: 32px;
    margin-bottom: 50px;
  }
}
