.intro__title {
  margin: 0 0 40px;
  font-size: 54px;
  font-weight: 900;
  line-height: 1.07;
}

@media (max-width: 720px) {
  .intro__title {
    max-width: 420px;
  }
}

@media (max-width: 400px) {
  .intro__title {
    max-width: 235px;
    font-size: 32px;
    line-height: 1.09;
  }
}
